{% extends 'layout.html' %} {% block body %}
<h1>Login</h1>
<form action="" method="post">
	<div class="form-group">
		<label for="input-username">Username: </label>
		<input
			type="text"
			name="username"
			class="form-control"
			value="{{ request.form.username }}"
			id="input-username"
		/>
	</div>
	<div class="form-group">
		<label for="input-password">Password: </label>
		<input
			type="password"
			name="password"
			class="form-control"
			id="input-password"
			value="{{ request.form.password }}"
		/>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
